<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>video</key>
		<string>porn.mp4</string>
		<key>refImage</key>
		<string>porn.png</string>
		<key>refImageAR</key>
		<string>pornAR.png</string>
	</dict>
	<key>1</key>
	<dict/>
</dict>
</plist>
